//color pallette
$colorSkin: #e2645a;
$colorLightBlue: #84b8e2;
$colorLightGreen: #86d9e2;

//font-family
$fontFamily: 'Merriweather', serif;

.Intention {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    // border: 1px solid red;
    border: lightgray .2px solid;
    border-radius: 15px;
    text-align: center;
    color: $colorSkin;
    padding-top: 10px;
    font-family: $fontFamily;
    box-shadow: 1px 1px 1px #888888;
    transition: all .3s ease-in;
    text-transform: uppercase;

    &:hover {
        box-shadow: 2px 1px 1px $colorLightBlue;
        transform: translateY(-5px);
    }
}